'.source.pascal':
  'editor':
    'tabLength': 2
    'commentStart': '(*'
    'increaseIndentPattern': '\\b(?i:(BEGIN|CONST|DECLARE|ELSE|EXCEPT|EXCEPTION|FINALLY|FOR|IF|LOOP|(?<!OF\\s)OBJECT|PACKAGE|PRIVATE\\s*$|PROTECTED\\s*$|PUBLIC\\s*$|PUBLISHED\\s*$|TASK|TRY|TYPE|USES|VAR|WHEN))\\b'
